a{
  text-decoration: none;
}
.gate_container{
  height: 100%; 
  width: 100%;
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, 0.88);
  left: 0;
  top: 0;
}
.nav_container_outside{
  border-right-style: groove;
  border-color: #0dba83;
  border-width: 10px;
  height: 100%; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #272b30;
}
.nav_container_inside{
  position: fixed;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  left: 0; 
  top: 20%;
}
.everything_else_container{
  position: absolute;
  width: 60%;
  top: 0;
  left: 200px;
  padding-left: 60px;
  background-color: #272b30;
}
.nav{
  font-family: 'Noir', Verdana, Arial;
  padding-top: 15px;
  padding-bottom: 5px;
}
.welcome_container{
  position: relative;
  padding-top: 10%;
}
.horizontal_main_page{
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
  left: 0;
}
.nav_horizontal{
  position: relative;
  right: 53%;
}
.audio_class{
  border-bottom: solid;
  border-width: 8px;
  border-color: #0dba83;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}